html, body {
  margin: 0;
  padding: 0;
}

:root {
  --colour_light_blue: rgba(205, 208, 249, 1);
  --colour_purple: rgba(130, 77, 132, 1);
}

.dancing-script-700 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.smooch-sans-700 {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.fjalla-one {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.farsan {
  font-family: "Farsan", cursive;
  font-weight: 400;
  font-style: normal;
}

.bungee {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--colour_light_blue);
  padding: 0;
}

nav {
  position: sticky;
  position: top;
  padding-top: 1em;
}

.section_top {
  position: sticky;
  position: top;
}

.bar-light {
    /* Dark Mode: background-color: rgba(217, 217, 217, 1); */
    background-color: white;
    position: sticky; top: 0;
    margin-left: 0%;
    margin-right: 0%;
}

.menu {
    background-color: var(--colour_purple);
    border-radius: 500px;
}

.menu-item {
  font-size: large;
  max-height: fit-content
}

.bar-collum {
  display: grid;
  grid-template-columns: 0fr 5fr 3fr 2fr 0.21fr;
  margin-bottom: 1em;
}

.half-circle {
  width: 100%;
  height: 2.5em;
  border-radius: 50%;
  background: linear-gradient(to right, black 50%, white 50%);
  border: 1px solid black;
}

.navigation-collum {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
  padding-left: 1em;
  padding-right: 1em;
}

.white {
  color: white;
}

input {
  max-height: 2em;
}

.home-image {
  transform: scaleX(-1);
  width: 100%;
  /* max-height: 30em; */
  overflow-x: hidden;
}