{% extends "layout.html" %}
{% block body %}

    <div class="az-two-collum">
        <div class="az-list-container hide-scrollbar">
            <ul class="az-list">
                {% for letter in letters %}
                    <li><a href="#" class="az-list-item" data-letter="{{ letter }}">{{ letter }}</a></li>
                    <br>
                {% endfor %}
            </ul>
        </div>
        <div class="grid-container" style="margin: 2em; margin-top: 0; margin-right: 0; padding-right: 2em;">
            {% for result in results %}
                <a class="grid-item" href="{{ url_for('item', id=result[0]) }}" data-letter="{{ result[1][0]|upper }}">
                    <div class="grid-item-image">
                        <img src="{{ result[2] }}" alt="{{ result[1] }}">
                        <div class="grid-item-overlay">
                            <span class="smooch-sans-700">{{ result[1] }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}