{% extends "layout.html" %}
{% block body %}

        {% with messages = get_flashed_messages() %}
                {% if messages %}
                        <div class="welcome-message">
                                {% for message in messages %}
                                        <p class="welcome-message-text smooch-sans-700">{{ message }}</p>
                                {% endfor %}
                        </div>
                {% endif %}
        {% endwith %}

        <div style="overflow-y: auto;">
                <div class="background-img-container">
                        <div class="white-background">
                                <h1 class="bungee" style="font-size: calc(1.3rem + 2.2vw);">Zentral- und Landesbibliothek Christchurch</h1>
                        </div>
                        <a href="{{ url_for('collection') }}" class="explore-button">
                                <h2 class="fjalla-one">Explore our collection</h2>
                        </a>
                </div>
        </div>

{% endblock %}