{% extends "layout.html" %}
{% block body %}

        <div style="overflow-y: auto;">
                <div class="background-img-container">
                        <div class="overlay-content white-background">
                                <h1 class="bungee" style="font-size: 3.2vw;">Zentral- und Landesbibliothek Christchurch</h1>
                        </div>
                        <a href="{{ url_for('collection') }}" class="explore-button">
                                <h2 class="fjalla-one">Explore our collection</h2>
                        </a>
                </div>
        </div>

{% endblock %}