{% extends "layout.html" %}
{% block body %}

<!-- IS there any way to affect nav bar through here? -->

    <div class="grid-container" style="margin: 2em; margin-top: 0; margin-right: 0; padding-right: 2em;">

        {% if results %}

            {% for result in results %}

                <a class="grid-item" href="{{ url_for('item', id=result[0]) }}" data-letter="{{ result[1][0]|upper }}">
                    <div class="grid-item-image">
                        <img src="{{ result[2] }}" alt="{{ result[1] }}">
                        <div class="grid-item-overlay">
                            <span class="smooch-sans-700">{{ result[1] }}</span>
                        </div>
                    </div>
                </a>
                
            {% endfor %}

        {% else %}
                
                <div>
                    <p class="search-error">Sorry, we couldn't find any matches for "<strong>{{ term }}</strong>". Try checking your spelling or asking us in person, as we may not have that item available.</p>
                </div>

        {% endif %}

    </div>

{% endblock %}